<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Manager</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="../jquery/jquery.js"></script>
    <link rel="stylesheet" href="../admin/styles.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
    <link href="../css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="../css/flexslider.css" rel="stylesheet">
    <link href="../css/templatemo-style.css" rel="stylesheet">
    <link rel="stylesheet" href="../admin/styles.css" />
</head>

<body>
    <div class="tm-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-4 col-sm-3 tm-site-name-container">
                    <a href="/" class="tm-site-name">VN Tours</a>
                </div>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <div class="mobile-menu-icon">
                        <i class="fa fa-bars"></i>
                    </div>
                    <nav class="tm-nav">
                        <ul>
                            <li class="nav-item active">
                                <a href="/">Home</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/about" class="active">About</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/contact">Contact</a>
                            </li>
                            <li class="nav-item active">
                                <a href="/admin/adminpage" type="button">AdminPage</a>
                            </li>
                            <li class="nav-item active">
                                <a href="" id="logout" type="button">Logout</a>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div style="text-align: center; margin-top:50px; margin-bottom:50px; height: 700px; ">
        <ul class="nav">
            <li>
                <a href="/tour/add " style="display:inline-block; color:blue  ">Quản Lý Tour</a>
            </li>
            <li>
                <a href="/admin/adminpage/cus " style="display:inline-block; color:blue">Quản Lý Khách Hàng</a>
            </li>
        </ul>
    </div>

    <footer class="tm-black-bg ">
        <div class="container ">
            <div class="row " text-align="center ">
                <p class="tm-copyright-text ">Copyright &copy; 2021 Vietnam Tourist</p>
            </div>
        </div>
    </footer>
</body>
<script>
    $('#logout').click(function() {
        window.location.href = '/admin/login';
        document.cookie = "token=; expires=T hu, 01 Jan 1970 00:00:00 GMT ";
        return false;
    });
</script>


</html>