<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet' type='text/css'>
    <link href="../css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="../css/flexslider.css" rel="stylesheet">
    <link href="../css/templatemo-style.css" rel="stylesheet">

    <script src="../jquery/jquery.js"></script>
    <link rel="stylesheet" href="../admin/styles.css" />
    <title>Sign up</title>
</head>

<body>
    <div class="tm-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-4 col-sm-3 tm-site-name-container">
                    <a href="/" class="tm-site-name">VN Tours</a>
                </div>
                <div class="col-lg-7 col-md-8 col-sm-9">
                    <div class="mobile-menu-icon">
                        <i class="fa fa-bars"></i>
                    </div>
                    <nav class="tm-nav">
                        <ul>
                            <li class="nav-item active">
                                <a href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contact">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/user/login">Sign in</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/user/register" class="active">Sign up</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-lg-2 col-md-2"></div>
        <div class="col-lg-8 col-sm-8 col-md-4">
            <div align="center" style="margin-top:10px;">
                <h1 class="my-3 text-warning">VietNam Tourist</h1>
            </div>
            <form action=""></form>
            <div style="margin-top:10px;">
                <label for="userName">User Name</label>
                <input type="text" class="form-control" id="username" name="userName" placeholder="User Name" required>
            </div>

            <div style="margin-top:10px;">
                <label for="passWord" required>Password</label>
                <input type="password" class="form-control" id="password" name="passWord" placeholder="Password" required>
            </div>

            <div style="margin-top:10px;">
                <label for="fullName">Full Name</label>
                <input type="text" class="form-control" id="full_name" name="fullName" placeholder="Full Name" required>
            </div style="margin-top:10px;">

            <div style="margin-top:10px;">
                <label for="phoneNumber">Phone Number</label>
                <input type="text" class="form-control" id="sdt" name="phoneNumber" placeholder="Phone Number" required>
            </div>

            <div style="margin-top:10px;">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
            </div>

            <div class="row d-flex justify-content-center" style="margin-top:10px;">
                <button id="submit" class="btn btn-primary submit">Submit</button>
            </div>
            </form>
        </div>
        <div class="col-lg-2 col-md-2"></div>
    </div>
    <div class="row" style="padding-top: 20px; padding-bottom: 50px">
        <div class="col-sm-3">
            <div class="row d-flex justify-content-center">
                <img src="../img/money.JPG" width="48px" height="48px">
            </div>
            <h5 class="text-center">Ultimate flexibility</h5>
            <p class="text-center">You’re in control, with free cancellation and payment options to satisfy any plan or budget.</p>
        </div>

        <div class="col-sm-3">
            <div class="row d-flex justify-content-center">
                <img src="../img/memorable.JPG" width="48px" height="48px">
            </div>
            <h5 class="text-center">Memorable experiences</h5>
            <p class="text-center">Browse and book tours and activities so incredible, you’ll want to tell your friends.</p>
        </div>

        <div class="col-sm-3">
            <div class="row d-flex justify-content-center">
                <img src="../img/quality.JPG" width="48px" height="48px">
            </div>
            <h5 class="text-center">Quality at our core</h5>
            <p class="text-center">High quality standards. Millions of reviews. A Tripadvisor company.</p>
        </div>

        <div class="col-sm-3">
            <div class="row d-flex justify-content-center">
                <img src="../img/cup.JPG" width="48px" height="48px">
            </div>
            <h5 class="text-center">Award-winning support</h5>
            <p class="text-center">New price? New plan? No problem. We’re here to help, 24/7.</p>
        </div>
    </div>
    <footer class="tm-black-bg">
        <div class="container">
            <div class="row" text-align="center">
                <p class="tm-copyright-text">Copyright &copy; 2021 Vietnam Tourist</p>
            </div>
        </div>
    </footer>
</body>

<!-- <script src="/public/validate.js"></script> -->
<script src="/register.js"></script>

</html>